

body {
    background-color: #e6e6e6;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content-container {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.side-menu-container {
    position: absolute;
}

.dropdown {
    font-size: 1em;
}

.list-item {
    list-style: none;
    padding: 1px;
}